<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.1.1" targetFramework="net48" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.1.1" targetFramework="net48" />
  <package id="EPPlus" version="7.4.2" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net462" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net462" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Cryptography" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.60" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.2.34" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.2.60" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.1.1.65" targetFramework="net48" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="9.1.1.65" targetFramework="net48" />
  <package id="Microsoft.Extensions.AI" version="10.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="10.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.3.0" targetFramework="net462" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net462" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net462" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="7.1.3" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.26100.7175" targetFramework="net48" />
  <package id="MscrmTools.Xrm.Connection" version="1.2025.9.64" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="NuGet.Common" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Configuration" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Packaging" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Protocol" version="7.0.1" targetFramework="net48" />
  <package id="NuGet.Versioning" version="7.0.1" targetFramework="net48" />
  <package id="ObjectListView" version="2.7.1.5" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Tensors" version="10.0.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Cng" version="5.0.0" targetFramework="net462" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Pkcs" version="10.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.ProtectedData" version="10.0.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.ServiceModel.Http" version="10.0.652802" targetFramework="net48" />
  <package id="System.ServiceModel.Primitives" version="10.0.652802" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.1" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.1" targetFramework="net48" />
  <package id="System.Threading.Channels" version="10.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="XrmToolBoxPackage" version="1.2025.10.74" targetFramework="net48" />
</packages>